<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>AirBnB clone</title>

		<link rel="shortcut icon" href="{{url_for('static', filename='images/icon.png')}}?{{cached_id}}" >

		<link rel="stylesheet" href="{{url_for('static', filename='styles/4-common.css')}}?{{cached_id}}"/>
		<link rel="stylesheet" href="{{url_for('static', filename='styles/3-header.css')}}?{{cached_id}}"/>
		<link rel="stylesheet" href="{{url_for('static', filename='styles/3-footer.css')}}?{{cached_id}}"/>
		<link rel="stylesheet" href="{{url_for('static', filename='styles/6-filters.css')}}?{{cached_id}}"/>
		<link rel="stylesheet" href="{{url_for('static', filename='styles/8-places.css')}}?{{cached_id}}">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script src="{{url_for('static', filename='scripts/4-hbnb.js')}}?{{cached_id}}"></script>
		<title>airbnb 4</title>
	</head>
	<body>
		<header>
			<div class="logo"></div>
			<div id="api_status" class="available"></div>
		</header>
		<div class="container">
			<section class="filters">
				<button>Search</button>

				<div class="amenities">
					<h3>Amenities</h3>
					<h4>&nbsp;</h4>
					<ul class="popover">
					{% for amenity in amenities|sort(attribute='name', case_sensitive=True) %}
						<li>
							<input data-id="{{amenity.id}}" 
								data-name="{{amenity.name}}" type="checkbox">
								{{ amenity.name }}
						</li>
					{% endfor %}
					</ul>
				</div>

				<div class="locations">
					<h3>States</h3>
					<h4>&nbsp;</h4>
					<ul class="popover">
					{% for state in states|sort(attribute='name', case_sensitive=True) %}
						<LI>
							<h2>{{ state.name }}</h2>
 							<UL>
							{% for city in state.cities|sort(attribute='name') %}
								<LI>{{ city.name }}<LI>
							{% endfor %}
							</UL>
						</LI>
					{% endfor %}
					</ul>
				</div>
				<button type="button">Search</button>
			</section>

			<section class="places">
				<h1>Places</h1>
				<div class="places-list">
				</div>
			</section>
		
		</div>
		<footer>
			<span>Best School</span>
		</footer>
	</body>
</html>
